$grey: #9699AC;
$navy: #343838;
$blue: #00597F;
$aqua: #4DBCE9;
$sky: #99D2D5;
$cloud: #DCE3E6;
$black: #000000;

html, body {
	height: 100%;
}

.container {
	width: 970px !important;
}

#main {
	background-color: $cloud;
	color: $navy;
	height: 100%;
	#description {
		position: absolute;
		top: 50%;
		height: 200px;
		width: 940px;
		margin-top: -100px;
		text-align: center;
		font-weight: 300;
		font-size: 24px;
	}
}

#name {
	text-align: center;
}

#work {
	background-color: $blue;
	height: 100%;
	padding: 60px 0px 20px;
	min-height: 700px;
	color: $cloud;
}

#jobs {
	&>div:nth-child(n+2) {
		margin-top: -5px;
	}
}

.job, .education {
	&:hover {
		color: $cloud;
	}
}

.job-date, .education-date {
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

.job-graphics, .education-graphics {
	display: inline-block;
}

.job-circle, .education-circle {
	width: 9px;
	height: 9px;
	border-radius: 4.5px;
	background-color: $aqua;
}

.job-line {
	width: 1px;
	height: 120px;
	margin-left: 4px;
	background-color: $aqua;
}

.job-dotted-line, .education-dotted-line {
	border-left: 1px dotted $aqua;
	height: 120px;
	margin-left: 4px;
}

.education-dotted-line {
	height: 635px;
}

.job-description, .education-description {
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	font-weight: 200;
	letter-spacing: 0.4px;
}

#job-expanded {
	color: $cloud;
}

#portfolio {
	background-color: $cloud;
	color: $navy;
	height: 100%;
	padding: 40px 0px;
	.project {
		vertical-align: top;
		padding: 5px;
		margin: 0px 3px;
		width: 300px;
		display: inline-block;
		margin-bottom: 20px;
		position: relative;
		img {
			width: 300px;
			height: 200px;
		}
	}
	.project-caption {
		text-align: center;
		padding: 0px 4px;
		font-weight: 500;
		letter-spacing: 0.2px;
		margin-top: 8px;
	}
	.project-tech {
		font-style: italic;
		font-size: 12px;
		font-weight: 300;
		text-align: center;
		margin: 4px 0px;
	}
	.project-description {
		padding: 0px 4px;
		margin-top: 4px;
		text-align: left;
		font-weight: 300;
		letter-spacing: 0.2px;
	}
}

#photography {
	#photography-description {
		text-align: center;
	}
	padding: 20px 0px;
	font-weight: 300;
	height: 100%;
	color: $cloud;
	background-color: $black;
	.photography-category {
		font-size: 18px;
		margin: 30px 0px;
		text-align: center;
	}
	.album {
		padding: 5px;
		display: inline-block;
		margin-bottom: 10px;
		img {
			width: 300px;
		}
	}
	.album-caption {
		text-align: center;
		font-weight: 300;
		letter-spacing: 0.2px;
		margin-top: 6px;
	}
}

#social {
	padding: 20px 0px;
	color: $navy;
	background-color: $cloud;
	text-align: center;
	#social-caption {
		font-size: 20px;
		padding: 10px 0px;
		font-weight: 300;
	}
	#social-icons {
		font-size: 30px;
			a {
		color: $navy;
		&:hover {
			color: $blue;
		}
		}
		i {
			margin: 0px 5px;
		}
	}
}